<template>
  <div class="hello">
     <router-link to="/video">Ver Video</router-link>
  </div>
</template>

<script>
export default {
  name: 'MainPage',
  methods:{
    hola:function(){
      console.log("hola");
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
